/wp-admin
/wp-includes
/wp-content/ai1wm-backups
/wp-content/uploads
/wp-content/wp-file-download
/wp-content/upgrade
/wp-content/smush-webp
/wp-content/pdf-light-viewer-logs
/wp-content/languages
/wp-content/ewww
/wp-content/cache
/wp-content/themes
/wp-content/wpdm-assets
/wp-content/wphb-cache