/wp-admin
/wp-includes
/wp-content/ai1wm-backups
/wp-content/uploads
/wp-content/wp-file-download
/wp-content/upgrade
/wp-content/smush-webp
/wp-content/pdf-light-viewer-logs
/wp-content/languages
/wp-content/ewww
/wp-content/cache
/wp-content/plugins/ads-for-visual-composer
/wp-content/plugins/ads-for-visual-composer
/wp-content/plugins/advanced-ads
/wp-content/plugins/advanced-ads-pro
/wp-content/plugins/advanced-ads-tracking
/wp-content/plugins/authors-list
/wp-content/plugins/classic-editor
/wp-content/plugins/contact-form-7
/wp-content/plugins/coupon-generator-for-woocommerce
/wp-content/plugins/download-manager
/wp-content/plugins/duplicate-page
/wp-content/plugins/gdpr-cookie-compliance
/wp-content/plugins/google-site-kit
/wp-content/plugins/hummingbird-performance
/wp-content/plugins/integracao-rd-station
/wp-content/plugins/js_composer_salient
/wp-content/plugins/kliken-marketing-for-google
/wp-content/plugins/learndash-certificate-builder
/wp-content/plugins/learndash-notifications
/wp-content/plugins/learndash-propanel
/wp-content/plugins/learndash-woocommerce
/wp-content/plugins/loco-translate
/wp-content/plugins/loginpress
/wp-content/plugins/loja5-woo-cielo-webservice
/wp-content/plugins/meks-smart-author-widget
/wp-content/plugins/members
/wp-content/plugins/official-facebook-pixel
/wp-content/plugins/pe-recent-posts
/wp-content/plugins/pods
/wp-content/plugins/post-type-switcher
/wp-content/plugins/revslider
/wp-content/plugins/salient-core
/wp-content/plugins/salient-core
/wp-content/plugins/salient-demo-importer
/wp-content/plugins/salient-home-slider
/wp-content/plugins/salient-nectar-slider
/wp-content/plugins/salient-portfolio
/wp-content/plugins/salient-shortcodes
/wp-content/plugins/salient-social
/wp-content/plugins/salient-widgets
/wp-content/plugins/sassy-social-share
/wp-content/plugins/scheduled-post-trigger
/wp-content/plugins/semrush-seo-writing-assistant
/wp-content/plugins/sfwd-lms
/wp-content/plugins/sfwd-lms-old
/wp-content/plugins/suiteshare_wordpress
/wp-content/plugins/tag-pages
/wp-content/plugins/woo-order-export-lite
/wp-content/plugins/woocommerce
/wp-content/plugins/woocommerce-services
/wp-content/plugins/wordpress-seo
/wp-content/plugins/wp-add-mime-types
/wp-content/plugins/wp-mail-smtp
/wp-content/plugins/wp-user-avatar
/wp-content/plugins/wp-widget-in-navigation
/wp-content/plugins/wpdm-google-drive
/wp-content/plugins/wpdm-pdf-stamper
/wp-content/plugins/wpforo
/wp-content/plugins/xml-sitemap-feed
/wp-content/plugins/yith-automatic-role-changer-for-woocommerce-premium
/wp-content/database.sql
/wp-content/plugins/All-In-One-WP-Migration-With-Import-master
/wp-content/elm-error-logs
/wp-content/plugins/acesso-unico
/wp-content/plugins/advanced-custom-fields
/wp-content/plugins/advanced-dynamic-pricing-for-woocommerce
/wp-content/plugins/teste-boleto
/wp-content/plugins/woocommerce-extra-checkout-fields-for-brazil
/wp-content/plugins/woocommerce-pdf-invoices-packing-slips
/wp-content/plugins/wp-file-download
/wp-content/plugins/wp-latest-posts
/wp-content/plugins/salient-core.zip
/wp-content/plugins/salient-demo-importer.zip
/wp-content/plugins/salient-home-slider.zip
/wp-content/plugins/salient-nectar-slider.zip
/wp-content/plugins/salient-portfolio.zip
/wp-content/plugins/salient-shortcodes.zip
/wp-content/plugins/salient-social.zip
/wp-content/plugins/salient-widgets.zip
/wp-content/themes
/wp-content/wpdm-assets
/wp-content/wphb-cache